*{
    margin: 0px;
    padding: 0px;
    font-family: century gothic;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(gambarb.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
    float: left;
    margin-top: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
}
ul li.active a{
    background-color: white;
    color: black;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);=
}
.logo h1{
    color: white;
    font-size: 66px;
    text-decoration: underline;
}
.button{
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.btn{
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: 0.6s;
}
.btn:hover{
    background-color: white;
    color: black;
}
footer {
    height: 18px;
    background-color: #FF4500;
}